
.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__group{
        position: relative;
        width: 100%;
    }

    &-error{
        position: absolute;
        top:100%;
        left:1.5rem;
        font-size: $fs-s;
        color:$c-indianred;
        margin-top:0.5rem;
    }

    &-input, &-button{
        padding:1rem 2rem;
        border-radius: 50px;
        font-weight: $fw-bold;
        width: 100%;
    }

    &-input{
        border:1px solid $c-lightgray;
        color:$c-gray;
        text-transform: uppercase;
        box-sizing: border-box;
    }

    &-button{
        margin-top: 0.5rem;
        color:$c-white;
        background-color: $c-blue;
        transition:transform 0.3s;
        text-transform: uppercase;
        overflow: hidden;
        position: relative;

        &:hover{
            transform:scale(0.9);
        }

        &::before, &::after{
            content:'';
            height:200px;
            width: 50px;
            background-color:$c-white;
            position: absolute;
            top:0;
            bottom:0;
            margin:auto;
            transform:rotate(-45deg);
            animation:slideRight 0.6s linear 1 forwards;
            pointer-events: none;
        }

        &::before{
            animation-delay: 0.3s;
        }
    }

    @include tablet-query{
        &__group{
            width: 350px;
            margin-right: 0.5rem;
        }
        &-button{
            max-width: fit-content;
            margin-top: 0;
        }
    }

    @keyframes slideRight{
        0%{
            opacity:0;
            left:-50%;
            width: 0;
        }
        50%{
            opacity: 0.8;
            left:50%;
            width: 100px;
        }
        100%{
            opacity:0;
            left:150%;
            width:0;
        }
    }    
}