
.header{
    background-color: $c-white;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1;
    
    &__container{
        height: 100px;
        display: flex;
        align-items: center;
        
        &-logo{
            font-family: $ff-montserrat;
            font-size: 1.5rem;
            color:$c-black;
        }
    }
 
}