@import 'text';

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 500px;
    padding-bottom: 50px;
    box-sizing: border-box;

    &__searchbar{
        margin:auto;
        margin-bottom: 2rem;
    }

    &__subscribe{
        margin-top:1rem;
    }
}