@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap");
h1, h2, h3, a, p {
  line-height: 1.5;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

input, button {
  font-family: inherit;
}

input::-webkit-input-placeholder {
  opacity: 0.5;
}

input:-ms-input-placeholder {
  opacity: 0.5;
}

input::-ms-input-placeholder {
  opacity: 0.5;
}

input::placeholder {
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

.blogs__list {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

@media screen and (min-width: 768px) {
  .blogs__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .blogs__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.container {
  padding: 0 2rem;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 4rem;
    max-width: 1024px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 10rem;
    max-width: 1440px;
  }
}

.c-blog__info .c-blog__authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-blog__info .c-blog__authors-others {
  display: block;
  margin-top: -0.5rem;
  margin-left: 0.3rem;
  font-weight: 400;
  color: gray;
  font-size: 0.8rem;
}

.c-blog__info-date {
  margin-top: 0.5rem;
  display: block;
  color: #cccccc;
  font-size: 0.8rem;
}

.c-blog__info--full {
  padding: 1rem 0 1rem 0;
}

.c-blog__info--full .c-blog__authors {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-blog__info--full .c-blog__others {
  padding-top: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
}

.c-blog__info--full .c-blog__other {
  margin-right: 0.5rem;
}

.c-blog {
  padding-top: 1rem;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.5s;
  transition: transform 0.3s, box-shadow 0.5s;
  transition: transform 0.3s, box-shadow 0.5s, -webkit-transform 0.3s, -webkit-box-shadow 0.5s;
  background-color: white;
}

.c-blog, .c-blog__image {
  border-radius: 10px;
}

.c-blog:hover {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.c-blog:hover .c-blog__image {
  margin: 0 1rem;
}

.c-blog--hottest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 0;
}

.c-blog--hottest:hover .c-blog__image {
  margin: 0;
}

.c-blog--hottest .c-blog__image, .c-blog--hottest .c-blog__details {
  width: 100%;
}

.c-blog--hottest .c-blog__image img {
  height: 100%;
}

.c-blog--hottest .c-blog__details-content {
  margin: 1rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.c-blog--hottest .c-blog__details-tag {
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  background-color: #cd5b5b;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.c-blog__image {
  overflow: hidden;
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
  background-color: #cccccc;
}

.c-blog__image-img {
  width: 100%;
  height: 200px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-blog__details {
  padding: 1rem;
}

.c-blog-link {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .c-blog--hottest {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .c-blog--hottest .c-blog__image, .c-blog--hottest .c-blog__details {
    width: 50%;
  }
}

.searchbar__button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: white;
}

.searchbar__button.not-clickable {
  pointer-events: none;
  opacity: 0.5;
}

.searchbar__button:hover {
  background-color: #cccccc;
}

.searchbar__button:hover .searchbar__button-icon {
  fill: white;
}

.searchbar__button-icon {
  height: 1.3rem;
  width: 1.3rem;
  fill: gray;
  pointer-events: none;
}

.searchbar {
  border-radius: 50px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.searchbar.expanded {
  padding: 0.3rem 2rem;
}

.searchbar.expanded .searchbar-input {
  display: block;
  -webkit-animation: expandWidth 0.3s 1 forwards;
          animation: expandWidth 0.3s 1 forwards;
}

.searchbar-input {
  padding: 0.5rem 1rem;
  width: 250px;
  overflow: hidden;
  border: none;
  font-weight: 700;
  display: none;
}

.searchbar-input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.searchbar-input:-ms-input-placeholder {
  text-transform: uppercase;
}

.searchbar-input::-ms-input-placeholder {
  text-transform: uppercase;
}

.searchbar-input::placeholder {
  text-transform: uppercase;
}

@-webkit-keyframes expandWidth {
  from {
    width: 0;
  }
  to {
    width: 250px;
  }
}

@keyframes expandWidth {
  from {
    width: 0;
  }
  to {
    width: 250px;
  }
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe__group {
  position: relative;
  width: 100%;
}

.subscribe-error {
  position: absolute;
  top: 100%;
  left: 1.5rem;
  font-size: 0.9rem;
  color: #cd5b5b;
  margin-top: 0.5rem;
}

.subscribe-input, .subscribe-button {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 700;
  width: 100%;
}

.subscribe-input {
  border: 1px solid #cccccc;
  color: gray;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-button {
  margin-top: 0.5rem;
  color: white;
  background-color: #cd5b5b;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.subscribe-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (min-width: 768px) {
  .subscribe__group {
    width: 350px;
    margin-right: 0.5rem;
  }
  .subscribe-button {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-top: 0;
  }
}

.header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: black;
}

.banner__text-heading {
  font-size: 3rem;
}

.banner__text-paragraph {
  color: gray;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 500px;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner__searchbar {
  margin: auto;
  margin-bottom: 2rem;
}

.banner__subscribe {
  margin-top: 1rem;
}

.r-blog__header-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.r-blog__content-text {
  font-size: 1rem;
  text-align: justify;
}
/*# sourceMappingURL=index.css.map */